.my-page-footer {
  background-color: #f5f5f5;
  width: 100vw;
  padding: 3ch 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-show {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}
.log-out-btn{
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  color: rgb(249, 75, 0);
  border: 2px solid #ffb340;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.return-btn{
  border-radius: 40px;
    width: 15vw;
    min-width: 200px;
    padding: 1vh 0;
    color: rgb(37, 83, 248);
    border: 2px solid #3ccace;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-out-btns{
  display: flex;
  margin-top: 50px;
}
.account-page{


}
.hi,h2{
  font-weight: 700;
  font-size: larger;
}
.card-tittle{
}
.card-info{

}
.account-info{

}
.account-page-form{

}